<nav>
  <ul>
    <li>
      <details>
        <summary>Tournament</summary>
        <ul>
          <li><a routerLink="/tournament/leaderboard">Leaderboard</a></li>
          <li>
            <a routerLink="/tournament/enter-scorecard">Enter Scorecard</a>
          </li>
          <li>
            <a routerLink="/tournament/add-tee-times">Add Tee Times</a>
          </li>
        </ul>
      </details>
    </li>
    <li>
      <details>
        <summary>Admin</summary>
        <ul>
          <li>
            <a routerLink="/admin/create-tournament">Create Tournament</a>
          </li>
          <li><a routerLink="/admin/add-players">Add Players</a></li>
          <li><a routerLink="/admin/add-course">Add Course</a></li>
          <li>
            <a routerLink="/admin/handicap-calculator">Handicap Calculator</a>
          </li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
